.content_box1 {
    margin-top: 2.5rem;
}

.content_box2 {
    width: 225px;
    margin: -2.5rem auto 
}

.content_box3 {
    width: 200px;
    height: auto;
    right: 0;
    margin: -25rem 0 auto auto;
}

.content_code {
    transform: rotate(270deg);
    float: left;
    font-size: 0.7rem;
    position: absolute;
    top: 23rem;
    left: 17rem;
    letter-spacing: 0.1rem;
}

.homepage {
    margin-bottom: 5rem;
}